body {
    font-family: Roboto, sans-serif;
}

.navbar-brand {
    font-family: Pacifico, cursive;
}

.navbar {
    background-color: green;
}

.nav .nav-link.active {
    background-color: azure;
    color: green;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: azure;
}

.navbar-toggler {
    background-color: #ffeae6;
}