body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: green;
}

.nav .nav-link.active {
    background-color: azure;
    color: green;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: azure;
}

.navbar-toggler {
    background-color: #ffeae6;
}

#sobre-escola {
    justify-content: center;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-escola {
    background-color: lightgreen;
}

.text-colored {
    color: green;
}